# ---------------------------
# 🔁 GERAL
# ---------------------------
*.log
*.tmp
*.DS_Store
*.swp
*.swo
*.bak

# ---------------------------
# 🔧 VSCODE
# ---------------------------
.vscode/

# ---------------------------
# 🐍 PYTHON (BACKEND)
# ---------------------------
__pycache__/
*.py[cod]
*.sqlite3
*.db
.venv/
env/
venv/
.Python
backend/.env

# Distribuição
dist/
build/
*.egg-info/

# Testes
.coverage
htmlcov/
.pytest_cache/
.tox/

# ---------------------------
# ⚛️ FRONTEND (REACT)
# Node.js
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.*   # cobre .env.local, .env.production, etc.
frontend/.next/
frontend/.turbo/
frontend/.cache/
frontend/.vite/
frontend/.eslintcache

# Coverage
frontend/coverage/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# ---------------------------
# 🚫 SISTEMA
# ---------------------------
Thumbs.db
ehthumbs.db
desktop.ini

# ---------------------------
# 🚀 GIT
# ---------------------------
*.orig
